<div class="container">
    <button class="btn btn-primary mx-4" (click)="conectarADatos()">Conectar a datos</button>
    <button class="btn btn-primary mx-4" (click)="conectarASecuencia()">Conectar a secuencia</button>
    <button class="btn btn-primary mx-4" (click)="desconectarDeSecuencia()">desconectar de secuencia</button>

    <button class="btn btn-primary mx-4" (click)="conectarAUbicacion()">Conectar a ubicacion</button>
    <button class="btn btn-primary mx-4" (click)="desconectarDeUbicacion()">desconectar de ubicacion</button>

    <button class="btn btn-primary mx-4" (click)="conectarADatosConOperadores()">probar datos con operadores</button>

</div>

