<div class="row">
    <div class="form-group">
        <label for="precio">Precio maximo</label>
        <input type="number" id="precio" class="form-control" [(ngModel)]="precioMaximo">
    </div>
    <div class="col-6 my-2" *ngFor="let trayecto of ( servicioViajes.datosCompartidos.trayectosFiltrados | filtroPrecio:precioMaximo )">
        <div class="card shadow">
            <h5 class="card-header">{{trayecto.origen| uppercase}} - {{trayecto.destino| uppercase}}</h5>
            <div class="card-body">
                <p class="card-text">{{trayecto.fecha | date:'dd/MM/yyyy'}}</p>
                <p class="card-text">{{trayecto.fecha | fecha:'es'}}</p>
                <p class="card-text">{{trayecto.fecha | fecha:'en'}}</p>
                <p class="card-text">{{trayecto.fecha | fecha:'de'}}</p>
                <p class="card-text">Hora salida: {{trayecto.horaSalida}}</p>
                <p class="card-text">Hora llegada: {{trayecto.horaLlegada}}</p>
                <p>Precio: {{trayecto.precio| number:'0.2-2'}}€</p>
            </div>
        </div>
    </div>
</div>
